.copy-tooltip {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    background: rgba(97,105,145,.2);
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 5px 15px;
    font-size: 11px;
    text-align: center;
    -webkit-transform: translate3d(-50%,30px,0);
    transform: translate3d(-50%,30px,0);
    opacity: 0;
}

.copy-tooltip.visible {
    -webkit-animation: floatup 1s 1;
    animation: floatup 1s 1
}

@-webkit-keyframes floatup {
    20% {
        opacity: .999
    }

    to {
        -webkit-transform: translate3d(-50%,-17px,0);
        transform: translate3d(-50%,-17px,0);
        opacity: 0
    }
}

@keyframes floatup {
    20% {
        opacity: .999
    }

    to {
        -webkit-transform: translate3d(-50%,-17px,0);
        transform: translate3d(-50%,-17px,0);
        opacity: 0
    }
}

.input-valid {
    display: inherit;
    width: inherit
}

.input-valid .valid {
    text-align: center;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #e86376;
    visibility: hidden;
    opacity: 0;
    bottom: 100%;
    left: 0;
    background: #1c2028;
    border-radius: 6px;
    padding: 1em;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
}

.input-valid .valid.inline {
    bottom: auto;
    top: 100%;
    background: rgba(220,53,69,.9);
    border-radius: 2px;
    font-size: 10px;
    margin: 2px 0 0;
    color: #fff;
    padding: 4px 6px;
    z-index: 3
}

.input-valid .valid.inline.top {
    top: auto;
    bottom: calc(100% + 2px);
    left: 0;
    right: auto
}

.input-valid .valid.inline.top-right {
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0
}

.input-valid .valid.inline:after {
    display: none
}

.input-valid .valid.visible {
    opacity: 1;
    visibility: visible
}

.input-valid .valid:after {
    content: "";
    position: absolute;
    left: .5em;
    top: 100%;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px 4px 0;
    border-top-color: #1c2028!important
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.input-group .input-field {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0
}

.input-group .input-field:not([readonly]):active+.input-group-append.text,.input-group .input-field:not([readonly]):focus+.input-group-append.text {
    border: 1px solid #4986f5;
    border-left: 0
}

.input-group .input-field:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-group .input-field:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0
}

.input-group-prepend {
    display: flex;
    border-radius: 0 6px 6px 0;
    position: relative
}

.input-group-prepend.text {
    background-color: #2f3542
}

.input-group-prepend .btn:first-child {
    border-radius: 6px 0 0 6px
}

.input-group-append {
    display: flex;
    border-radius: 0 6px 6px 0;
    position: relative
}

.input-group-append.text {
    background-color: #2f3542;
    color: #4986f5;
    align-items: center;
    padding: 0 .75rem;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid transparent
}

.input-group-append .btn {
    margin-left: -5px
}

@media (max-width: 1099px) {
    .input-group-append.text {
        font-size:10px
    }
}

.input-suffix {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    white-space: nowrap;
    color: #fafafa;
    overflow: hidden;
    padding: 0 13px;
    line-height: normal
}

.input-suffix>span {
    color: transparent;
    letter-spacing: normal
}

.input-with-icon {
    padding-left: 35px
}

.input-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 6px
}

.affiliates-form {
    margin: 30px 0;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.affiliates-form form {
    margin-left: auto;
    width: 50%
}

.affiliates-form form .form-row {
    margin: 0
}

.affiliates-form form input {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
}

.affiliates-form .input-group-prepend>span button {
    height: 100%
}

.affiliates-form .icon-tick-circle {
    color: #62ca5b
}

.affiliates-form .button-group {
    display: flex;
    width: 100%;
    height: 100%
}

.affiliates-form .button-group .btn:first-child {
    border-radius: 0
}

@media (max-width: 1099px) {
    .affiliates-form {
        flex-direction:column
    }

    .affiliates-form form {
        width: 100%;
        margin: 0
    }

    .affiliates-form .text {
        margin-bottom: 15px
    }
}

.affiliate-stats {
    width: 100%;
    height: 320px;
    border: 1px solid hsla(0,0%,59.2%,.087);
    border-radius: 6px;
    display: flex
}

.affiliate-stats .left {
    width: 60%;
    border-right: 1px solid hsla(0,0%,59.2%,.087);
    height: 100%
}

.affiliate-stats .right {
    width: 40%
}

.affiliate-stats #withdraw-button {
    display: flex;
    height: 100%;
    max-width: 180px;
    margin: auto
}

@media (max-width: 720px) {
    .affiliate-stats {
        flex-direction:column;
        height: auto
    }

    .affiliate-stats .left {
        width: 100%
    }

    .affiliate-stats .right {
        border-top: 1px solid hsla(0,0%,59.2%,.087);
        width: 100%
    }

    .affiliate-stats .affiliate-stats-item {
        padding: 30px 0
    }
}

.affiliate-stats-item {
    height: 50%;
    display: flex
}

.affiliate-stats-item.border-top {
    border-top: 1px solid hsla(0,0%,59.2%,.087)
}

.affiliate-stats-item.full {
    height: 100%
}

.affiliate-stats-item .wrap {
    width: 100%;
    display: flex;
    align-items: center
}

.affiliate-stats-item .wrap.border-right {
    border-right: 1px solid hsla(0,0%,59.2%,.087)
}

.affiliate-stats-item .block {
    width: 100%;
    position: relative;
    text-align: center
}

.affiliate-stats-item .block svg {
    width: 30px;
    height: 30px;
    color: #959fb1;
}

.affiliate-stats-item .block .num {
    font-size: 26px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    margin: 5px 0
}

.affiliate-stats-item .block .text {
    color: #828f9a;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase
}

.affiliate-stats-item .block .btn {
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
    justify-content: center;
    padding: 12px 20px;
    font-size: 13px
}

.quest-banner {
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 6px 6px 0 0;
    position: relative;
    overflow: hidden;
    text-align: center
}

.quest-banner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .05;
    background: url(../img/bg.jpg) 50% 50%;
    background-size: cover
}

.quest-banner:after {
    content: "";
    position: absolute;
    top: -100%;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    height: 300%;
    background: hsla(0,0%,100%,.02)
}

.quest-banner.task:before {
    background: url(../img/bg.jpg) 50% 0;
    background-size: cover
}

.quest-banner.task>i {
    font-size: 135px
}

@media (max-width: 820px) {
    .quest-banner.task>i {
        font-size:105px
    }
}

.quest-banner.affiliate {
    margin: -30px -30px 0
}

.quest-banner .caption {
    margin-top: -5px;
    position: relative
}

.quest-banner .caption h1 {
    position: relative;
    font-family: Exo\ 2,Open Sans,sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px
}

.quest-banner .caption h1 .underline {
    padding-bottom: 5px;
    border-bottom: 3px solid #ffc645
}

.quest-banner .info {
    font-weight: 400;
    font-size: 15px;
    color: #b3b6bd;
    position: relative
}

.quest-banner .bottom {
    color: #828f9a;
    margin-top: 30px;
    position: relative
}

.quest-banner .bottom .btn-link {
    color: #9ca4b3;
    border-bottom: 1px dashed;
    cursor: pointer;
    margin-left: 5px
}

.quest-banner .bottom .btn-link,.quest-banner .bottom .btn-link:active,.quest-banner .bottom .btn-link:focus,.quest-banner .bottom .btn-link:hover {
    outline: none;
    background: transparent
}

.quest-banner .bottom .btn-link:hover {
    color: #b9bfc9
}

.quest-banner .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    padding: 15px;
    font-size: 15px
}

.quest-banner .btn-close:hover {
    color: #4986f5
}

@media (max-width: 820px) {
    .quest-banner {
        padding:20px
    }

    .quest-banner .caption h1 {
        font-size: 23px
    }

    .quest-banner .info {
        font-size: 13px
    }

    .quest-banner .bottom {
        margin-top: 20px
    }
}

@media (max-width: 480px) {
    .quest-banner.affiliate {
        margin:-15px -15px 0
    }
}
