.coinflip-games {
    position: relative;
    width: 100%;
    cursor: default;
    display: flex;
    min-height: 510px;
}

.coinflip-games .actives {
    position: relative;
    height: 100%;
    width: 50%;
}

.coinflip-games .yours {
    position: relative;
    height: 100%;
    width: 50%;
}

.coinflip-games .line {
    margin: 20px 0px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coinflip-games .line:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(50% - 1px);
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
}

.coinflip-games .line span {
    padding: 5px 25px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #959fb1;
    position: relative;
}

.scroll {
    height: 510px;
    overflow: auto;
    padding: 10px;
}

.game-coin {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    float: left;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-shadow: -7px 3px 1em rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    background-image: url(../img/before.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

.game-coin .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 160px;
}

.game-coin .top .left, .game-coin .top .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.game-coin .top .left .players, .game-coin .top .right .players {
    width: 100%;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
}

.game-coin .top .left .user, .game-coin .top .right .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-coin .top .left .block h4, .game-coin .top .right .block h4 {
    padding-right: 15px;
    font-size: 12px;
}

.game-coin .top .left .user .ava, .game-coin .top .right .user .ava {
    width: 45px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}

.game-coin .top .left .user .ava img, .game-coin .top .right .user .ava img {
    border-radius: 3px;
    display: block;
    border: 1px solid rgba(255, 255, 255, .05);
    padding: 2px;
    width: 100%;
    height: 100%;
}

.game-coin .top .left .user.win .ava img, .game-coin .top .right .user.win .ava img {
    border: solid 1px #4986f5;
}

.game-coin .top .left .user .info, .game-coin .top .right .user .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-coin .top .left .user .info .name, .game-coin .top .right .user .info .name {
    color: #959fb1;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-overflow: ellipsis;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 32px;
}

.game-coin .top .left .user .info .name:hover, .game-coin .top .right .user .info .name:hover {
    color: #fff!important;
}

.game-coin .top .left .user .info p svg, .game-coin .top .right .user .info p svg {
    margin-left: 2px;
    color: #959fb1;
}

.game-coin .top .left .user .info p, .game-coin .top .right .user .info p {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.game-coin .top .center {
    width: 70px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.game-coin .center .fixed-height {
    height: 2000px;
    position: absolute;
    top: -1802px;
}

.game-coin .center .slider {
    width: 45px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.game-coin .center:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .05),#fff0);
    z-index: 1;
}

.game-coin .center:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(to top, rgba(255, 255, 255, .05),#fff0);
    z-index: 1;
}

.game-coin .center .vs {
    background: rgba(255, 255, 255, 0.15);
    height: 45px;
    width: 45px;
    position: absolute;
    border: 6px solid rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    top: calc(50% - 22.5px);
    left: calc(50% - 22.5px);
    z-index: 2;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-coin .center .arrow {
    background: rgba(255, 255, 255, 0.05);
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate(0, -50%);
}

.game-coin .center .slider ul {
    width: 45px;
    height: 2000px;
}

.game-coin .center .slider ul li {
    list-style-type: none;
    float: left;
    width: 45px;
    height: 45px;
    border: solid 1px #2f3745;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    border-radius: 3px;
}

.game-coin .center .slider ul li img {
    width: 80%;
    height: 80%;
    border-radius: 3px;
}

.game-coin .center .slider ul li.winner {
    border-color: #4986f5;
}

.game-coin .bottom {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 5px 0;
    min-height: 80px;
}

.game-coin .bottom .ticket {
    
}

.game-coin .bottom .block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.game-coin .bottom .block .type {
    color: #959fb1;
    font-weight: 600;
}

.game-coin .bottom .block .bank, .game-coin .bottom .block .ticket {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}

.coinflip-games .scroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .05);
    border-radius: 15px;
}

.coinflip-games .scroll::-webkit-scrollbar-thumb {
    background: #4986f5;
    border-radius: 15px;
}

.coinflip-games .scroll::-webkit-resizer {
    width: 3px;
}

.coinflip-games .scroll::-webkit-scrollbar {
    width: 3px;
}

.explode {-webkit-animation: explode 1s ease-out infinite;animation: explode 1s ease-out infinite;}

@media screen and (max-width: 1280px) {
    .progress-item {
        font-size:10px;
    }
    .coinflip-games {
        flex-direction: column;
    }
	.coinflip-games .yours, .coinflip-games .actives {
		width: 100%;
	}
}

@media screen and (max-width: 340px) {
	.game-coin .top .left .user .info .name, .game-coin .top .right .user .info .name {
		max-width: 80px;
	}
}

@-webkit-keyframes explode {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes explode {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
.progress-wrap {
    flex: none;
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}

.progress-item {
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #959fb1;
    padding: 8px 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}

.progress-item.left {
    border-radius: 0 0 15px 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.progress-item .title {
    margin: 0 10px;
}
@media (max-width: 500px) {
	.game-stats .btn {
		padding: 2px;
	}
    .game-stats .table tr td:nth-child(1), .game-stats .table tr td:nth-child(1), .game-stats .table tr td:nth-child(2), .game-stats .table tr td:nth-child(2), .game-stats .table tr td:nth-child(5), .game-stats .table tr td:nth-child(5) {
        display: none;
    }
    .game-stats .table-heading .th:nth-child(1), .game-stats .table-heading .th:nth-child(1), .game-stats .table-heading .th:nth-child(2), .game-stats .table-heading .th:nth-child(2), .game-stats .table-heading .th:nth-child(5), .game-stats .table-heading .th:nth-child(5) {
        display: none;
    }
}