.game-area .game-area-content {
	display: block;
}

.game-history {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    min-height: 43px;
}

.game-history.scrollable {
    margin-bottom: -10px;
    padding-bottom: 10px
}

.game-history__wrap {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 0 0 6px 6px;
    overflow: hidden
}

.game-history .item {
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 9px 12px;
    min-width: 85px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.game-history .item.isAnimate {
    -webkit-animation: shiftFromLeft .3s linear;
    animation: shiftFromLeft .3s linear
}

.game-history .item:last-child {
    margin-right: 0
}

.game-history .item .item-bet {
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    /* margin-bottom: 4px; */
    font-family: Exo\ 2,Open Sans,sans-serif;
}

.game-history .item .item-result {
    font-size: 11px;
    color: #5e687e
}

.game-history .item .item-result i {
    font-size: 8px
}

.crash__connected {
    pointer-events: none;
    border-radius: 6px 6px;
    position: relative;
    font-size: 25px;
    z-index: 2;
    margin-top: 60px;
}

.crash__connected h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #ffc645;
    text-shadow: 1px 1px 2px rgba(25, 29, 36, 0.30);
}

.crash-prefix .game-area {
    border: 1px transparent;
    padding: 24px 10px 0;
}

.crash-prefix .game-block {
    padding: 0
}

.crash-prefix .game-component.isMobile .game-block {
    border-radius: 6px
}

.hash {
    width: 100%;
    padding: 10px;
}

.bet-wrap {
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bet-wrap span {
	margin-right: 2px;
}

.bet-wrap.wait {
    color: #ffc645;
	font-weight: 800;
}

.bet-wrap.win {
    color: #62ca5b;
	font-weight: 800;
}

.bet-wrap.lose {
    color: #e86376;
	font-weight: 800;
}
