.faq-component {
    padding: 25px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 100%;
    width: 100%
}

@media (max-width: 820px) {
    .faq-component {
        margin-bottom:30px
    }
}

.faq-component .faq-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.faq-component .faq-head .faq-link {
    font-size: 16px
}

@media (max-width: 500px) {
    .faq-component .faq-head {
        flex-direction:column
    }

    .faq-component .faq-head .faq-link {
        margin-top: 15px
    }
}

.faq-component .faq-caption {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600
}

.faq-component .faq-item {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid hsla(0,0%,59.2%,.087);
    margin-bottom: 15px
}

.faq-component .faq-item .caption {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer
}

.faq-component .faq-item .caption-block {
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 34px;
    margin-left: -30px;
    position: relative;
    border-radius: 4px 4px 4px 0
}

.faq-component .faq-item .caption-block:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-color: transparent rgba(255, 255, 255, 0.03) transparent transparent;
    border-style: solid;
    border-width: 0 10px 10px 0;
}

.faq-component .faq-item .caption-block svg {
    margin-right: 8px
}

.faq-component .faq-item .caption-block .icon-faq {
    font-size: 18px
}

.faq-component .faq-item .faq-content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: .1px
}

.faq-component .faq-item .faq-content p:last-child {
    margin-bottom: 0
}

.faq-component .faq-item .badge {
    padding: 1px 4px;
    margin: 0 2px;
    background: #373f4e;
    border-radius: 3px
}

.faq-component .faq-item .underline {
    border-bottom: 1px solid hsla(0,0%,100%,.5)
}

.faq-component .guides-list .btn {
    padding: 6px 10px;
    margin: 8px 8px 0 0
}

.faq-component .guides-list .btn svg {
    margin-right: 5px
}

.faq-component .guides-list .btn:last-child {
    margin-right: 0
}
