@font-face {
    font-family: 'Fast Font';
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.eot#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf) format("truetype"), url(../fonts/icomoon.woff) format("woff"), url(../fonts/icomoon.svg#icomoon) format("svg");
    font-weight: normal;
    font-style: normal;
}

.fast-icon-font {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "Fast Font", var(--font-family-sans-serif) !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.game-area {
    border-radius: 12px;
    border: 1px solid #353d48;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.hilo-main {
    margin: 0 38px;
    justify-content: center !important;
    display: flex !important;
    height: 344px;
    width: 205px;
    position: relative;
}

.hilo-main .hilo-deck {
    width: 100%;
}

.hilo-main .hilo-deck>.hilo-deck-card {
    border-radius: 24px;
}

.hilo-main .hilo-deck .placeholder-card:nth-child(1) {
    bottom: 4px;
}

.hilo-main .hilo-deck .placeholder-card:nth-child(2) {
    bottom: 8px;
}

.hilo-main .hilo-deck .placeholder-card:nth-child(3) {
    bottom: 12px;
}

.hilo-main .hilo-deck .placeholder-card:nth-child(4) {
    bottom: 16px;
}

.hilo-main .hilo-deck .placeholder-card:nth-child(5) {
    bottom: 20px;
}

.hilo-main .hilo-deck .hilo-deck-card {
    width: 205px;
    height: 320px;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
    z-index: 8;
}

.hilo-countdown-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(-1, 1);
    transform: translate(-50%, -50%) scale(-1, 1);
}

.hilo-countdown {
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.hilo-main .hilo-deck-card .card-back, .hilo-main .hilo-deck-card .card-front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    border: 1px solid #e1e9f5;
}

.hilo-main .hilo-deck-card .card-back {
    background: white url(../img/card-back.png) no-repeat center;
}

.hilo-main .hilo-deck-card .card-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.hilo-main .hilo-flipper {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.hilo-main .hilo-card {
    font-family: 'Fast Font', Exo\ 2, Open Sans,sans-serif;
    cursor: pointer;
    position: relative;
}

.hilo-main .hilo-card_bordered:after {
    content: "";
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    border: 2px solid currentColor;
    border-radius: 6px;
}

.hilo-card_diamonds, .hilo-card_red {
    color: #e86376;
}

.hilo-card_spades, .hilo-card_black {
    color: #2b2f3b;
}

.hilo-card_joker {
    background-image: linear-gradient(to right, #0062f4, #009ddd);
}

.hilo-card_joker .hilo-sign {
    font-size: 0.65em;
}

.hilo-main .hilo-label {
    font-size: 45px;
    position: absolute;
}

.hilo-main .hilo-label_top {
    top: 1rem;
    left: 2rem;
}

.hilo-main .hilo-label_bottom {
    bottom: 1.2rem;
    right: 2rem;
}

.hilo-history {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.hilo-history:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 100%;
}

.hilo-history-feed {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hilo-history-feed__comparison-sign_lo {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.hilo-history-feed-sign {
    display: block;
}

.hilo-card_sm {
    width: 41px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.hilo-card-num {
    line-height: normal;
}

.hilo-history-card {
    margin-right: 18px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .7s;
}

.hilo-history-card:hover {
    opacity: 1 !important;
}

.hilo-card_joker {
    background-image: linear-gradient(to right, #0062f4, #009ddd) !important;
    font-size: 26px;
}

.hilo-card {
    background-image: linear-gradient(to top, #ffffff, #ffffff);
    font-family: 'Fast Font', Exo\ 2, Open Sans, sans-serif;
    cursor: pointer;
    position: relative;
}

.hilo-history-card_zero-width .hilo-history-feed {
    opacity: 0;
}

.hilo-history-feed {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity .7s;
}

.hilo-history-feed-sign {
    display: block;
}

.hilo-history-feed-sign_lo {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.hilo-bet {
    padding: 5px 0;
}

.hilo-bet,.hilo-bet .btn-bet {
    display: -webkit-flex;
    display: flex
}

.hilo-bet .btn-bet {
    font-size: 12px;
    overflow: hidden;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: left;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #4986f5;
    opacity: .5;
}

.hilo-bet .btn-bet:focus,.hilo-bet .btn-bet:hover {
    outline: none
}

.hilo-bet .btn-bet:hover, .hilo-bet .btn-bet.isActive {
    opacity: 1;
}

.hilo-bet .btn-bet:last-child {
    margin-right: 0
}

.hilo-bet .btn-bet.bet-high {
    color: #d7a2ff;
    background: #a100f4;
}

.hilo-bet .btn-bet.bet-high .bet-chance {
    background: rgba(31,85,183,.18)
}

.hilo-bet .btn-bet.bet-high .bet-chance .chance-icon {
    color: #d7a2ff;
}

.hilo-bet .btn-bet.bet-low {
    color: #625622;
    background: #ffd000
}

.hilo-bet .btn-bet.bet-low .bet-chance {
    background: rgba(142,118,14,.18);
}

.hilo-bet .btn-bet.bet-low .bet-chance .chance-icon {
    color: #625622;
}

.hilo-bet .btn-bet.bet-red {
    color: #67110b;
    background: #e86376;
}

.hilo-bet .btn-bet.bet-red .bet-chance {
    background: rgba(136, 29, 44, 0.18)
}

.hilo-bet .btn-bet.bet-black {
    color: #5e6a7f;
    background: #333a48;
}

.hilo-bet .btn-bet.bet-black .bet-chance {
    background: #2f3542
}

.hilo-bet .btn-bet.bet-numb, .hilo-bet .btn-bet.bet-letr, .hilo-bet .btn-bet.bet-ka, .hilo-bet .btn-bet.bet-a {
    color: #256b20;
    background: #62ca5b;
}

.hilo-bet .btn-bet.bet-numb .bet-chance, .hilo-bet .btn-bet.bet-letr .bet-chance, .hilo-bet .btn-bet.bet-ka .bet-chance, .hilo-bet .btn-bet.bet-a .bet-chance {
    background: #43b73b
}

.hilo-bet .bet-chance {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: none;
    flex: none;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    padding: 4px 8px;
    background: rgba(0,0,0,.08);
}

.hilo-bet .bet-chance .chance-icon {
    margin: 4px 0 7px;
    color: #1f55b7
}

.hilo-bet .bet-chance .chance-icon svg {
    width: 20px;
    height: 20px;
    display: block
}

.hilo-bet .bet-chance .chance-text {
    line-height: 16px;
    text-align: center;
    font-weight: 600;
}

.hilo-bet .bet-chance .chance-text span {
    font-size: 17px;
    font-weight: 600
}

.hilo-bet .bet-text {
    font-size: 14px;
    font-weight: 600;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 24px;
    padding: 0;
}

@media screen and (max-width: 820px) {
    .hilo-bet .bet-chance {
        padding: 5px
    }

    .hilo-bet .bet-text {
        font-size: 15px;
        height: 33px
    }
}

.bet-block {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid hsla(0,0%,59.2%,.12);
    border-radius: 6px
}
@media screen and (max-width: 1170px) {
    .game-area {
        border:0
    }

    .bottom-corners, .top-corners {
        display: none
    }
}