.jackpot-hits {
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    border-radius: 0 0 6px 6px
}

.jackpot-hits .items-6 .item {
    width: calc(16.66% - 15px)
}

.jackpot-hits .items-5 .item {
    width: calc(20% - 15px)
}

.jackpot-hits .items-1 .item,.jackpot-hits .items-2 .item,.jackpot-hits .items-3 .item,.jackpot-hits .items-4 .item {
    width: calc(25% - 15px)
}

.jackpot-hits .carousel-item:after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.10);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.jackpot-hits .item {
    width: 70px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 4px 20px;
    color: #959fb1;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    z-index: 2;
    -webkit-transition: all .3s;
    transition: all .3s;
    white-space: nowrap;
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5px;
}

.jackpot-hits .item .user {
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.jackpot-hits .item .user img {
    border-radius: 3px;
    display: block;
    border: 1px solid #1c2028;
    padding: 2px;
    width: 100%;
}

.jackpot-hits .item .hit {
    font-size: 14px;
    font-weight: 700;
    margin: 2px;
}

.jackpot-hits .item.current {
    color: #fff;
    background: #62ca5b;
    border-color: #62ca5b
}

@media (max-width: 820px) {
    .jackpot-hits {
        padding:10px 30px
    }
}

@media (max-width: 820px) {
    .jackpot-hits .item .hit {
        font-size: 10px;
    }
}

.circle {
    text-align: center;
    height: 400px;
    width: 400px;
    display: block;
    position: relative;
    margin: 20px 0;
}

.fix-circle {
    position: relative;
    z-index: 2;
    /* transform: rotateY(-180deg); */
}

.circle_jackpot {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 400px;
    transition: all 0 ease 0;
    transform: rotate(0deg)
}

.time .spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 10;
    bottom: 0;
    display: block;
    margin: auto;
    width: 0px;
    -webkit-transition: -webkit-transform 4s cubic-bezier(0.1, 0.3, 0, 1);
    transition: -webkit-transform 4s cubic-bezier(0.1, 0.3, 0, 1);
    -o-transition: transform 4s cubic-bezier(0.1, 0.3, 0, 1);
    transition: transform 4s cubic-bezier(0.1, 0.3, 0, 1);
    transition: transform 4s cubic-bezier(0.1, 0.3, 0, 1), -webkit-transform 4s cubic-bezier(0.1, 0.3, 0, 1);
}

.time .spinner svg {
    display: block;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 1;
    position: relative;
    bottom: 20px;
    width: 35px;
    height: 35px;
    right: calc(35px / 2);
}

.time .block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px rgba(25, 29, 36, 0.20);
    border-radius: 100%;
    z-index: 1;
}

.avatars {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
}
.avatars .avatar {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(19deg);
}
.avatars .avatar img {
    display: table;
    margin: 0 auto;
    width: 35px;
    border-radius: 50%;
    margin-top: 18px;
}

.time .block .title {
    color: #959fb1;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

.time .block .value {
    font-size: 42px;
    font-weight: 600;
    color: #ffc645;
    font-family: Exo\ 2;
    line-height: 45px;
}

.time .block .line {
    width: 150px;
    height: 2px;
    background: rgba(255, 255, 255, 0.05);
    margin: 10px;
}

.winner-block {
    position: absolute;
    z-index: 5;
}