.wallet_container {
    display: flex;
    justify-content: space-between;
    width: 100%
}

@media (max-width: 820px) {
    .wallet_container {
        padding-bottom:15px
    }
}

.wallet_component {
    width: 100%;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    color: #828f9a
}

.wallet_component .loader {
    min-height: 320px
}

.wallet_component .loading-error {
    height: calc(100% - 52px);
    font-size: 22px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    padding: 0 20px;
    display: flex;
    align-items: center
}

.wallet_component .list {
    height: 100%
}

.wallet_component .withPager {
    height: calc(100% - 80px)
}

.wallet_menu {
    height: 62px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #343b48;
    font-size: 15px;
    padding: 0 20px;
    background: #2d3340;
    border-radius: 6px 6px 0 0
}

.wallet_menu a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #828f9a;
    width: 100%;
    cursor: pointer;
    padding: 0 15px
}

.wallet_menu a.wallet_isActive {
    color: #fff
}

.wallet_menu a.wallet_isActive:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #4986f5
}

@media (max-width: 820px) {
    .wallet_menu {
        height:52px;
        padding: 0;
        font-size: 13px
    }
}

.wallet_deposit,.wallet_history,.wallet_withdraw {
    height: calc(100% - 62px);
    min-height: 320px;
    height: 320px
}

@media (min-width: 1599px) {
    .wallet_component {
        border-left:1px solid #343b48;
        border-right: 1px solid #343b48
    }
}

@media (max-width: 1124px) {
    .wallet_container {
        flex-direction:column
    }

    .wallet_component {
        width: 100%;
        margin-bottom: 15px
    }
}

.withPager .list {
    position: relative
}

.withPager .list.loading .list .item {
    opacity: .5
}

.withPager .loader {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.withPager.isLoading tbody {
    pointer-events: none;
    -webkit-filter: blur(4px);
    filter: blur(4px)
}

.history_wrapper {
    height: calc(100% - 114px);
    min-height: 320px;
    position: relative
}

.history_nav {
    display: flex;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.history_nav .btn {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: transparent;
    border-radius: 0;
    color: #959fb1;
    font-size: 15px;
}

.history_nav .btn.isActive {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
}

.history_nav .btn:not(.isActive):focus,.history_nav .btn:not(.isActive):hover {
    color: #fff
}

.history_table {
    color: #fff;
    width: 100%;
    border-spacing: 0;
    border-collapse: initial
}

.history_table .popover-tip-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history_table .popover-tip-icon {
    background: transparent;
    height: 14px;
    width: 14px;
}

.history_table th {
    text-align: left;
    font-size: 11px;
    font-weight: 700;
    height: 28px;
    color: #959fb1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase
}

.history_table td,.history_table th {
    padding: 0 15px;
    text-align: left
}

.history_table td {
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    letter-spacing: .2px;
}

.history_table tr:last-child td:first-child {
    border-radius: 0 0 0 6px
}

.history_table tr:last-child td:last-child {
    border-radius: 0 0 6px 0
}

.history_scroll {
    overflow-x: visible
}

.history_button {
    display: flex;
    margin-left: auto;
    justify-content: flex-end
}

.history_button .btn {
    border-radius: 0 4px 4px 0;
    font-weight: 400;
    height: 30px;
    padding: 0 8px
}

.history_button .btn:hover {
    color: #fff
}

.history_button .history_icon {
    border: 1px solid #4986f5;
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: help
}

.history_button .history_icon svg {
    fill: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.history_empty {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 300px
}

.history_empty h4 {
    font-size: 24px
}

.history_system {
    display: flex;
    align-items: center;
}

.history_system>span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

@media (max-width: 820px) {
    .history_scroll {
        overflow-x: scroll
    }
    .history_table td,.history_table th {
        padding:0 10px
    }
}

@media (max-width: 400px) {
    .history_table td,.history_table th {
        font-size:12px
    }
}
.popover-tip-text {
    color: #fff;
    padding: 10px;
    font-size: 14px;
    max-width: 214px
}